/*CSS Global*/
*{
    overflow: hidden;
}

@font-face {
    font-family: poppins-regular;
    src: url("../fonts/Poppins-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: poppins-bold;
    src: url("../fonts/Poppins-Bold.ttf");
    font-display: swap;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: poppins-regular;
    font-size: 16px;
    margin-bottom: 60px;
}

.menuTopo {
    width: 70%;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    overflow: visible;
}

.itemMenu {
    border-radius: 8px;
    background-color: rgba(140,0,0,.3);
    width: 150px;
    height: 100%;
    list-style: none;
    transition: all 0.2s ease-in-out;
    overflow: visible;
}

    .itemMenu:hover {
        background-color: rgba(140,0,0);
        overflow: visible;
    }

    .itemMenu a {
        font-family: poppins-bold;
        color: white;
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: grid;
        place-items: center;
        overflow: visible;
    }

.fundoMenu {
    height: 15vh;
    background: linear-gradient(180deg, #ff8873, #ff5641);
    display: grid;
    place-items: center;
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
    overflow: visible;
}

.fundoMenuContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    overflow: visible;
}

.navbar-brand {
    transition: all 0.3s ease-in-out;
    overflow:visible;
}

.navbar-brand:hover {
    transform: scale(110%);
}

    .navbar-brand img {
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,.4) )
    }

/*CSS Index*/

.containerIndex{
    width:100vw;
    height: 85vh;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    row-gap: 50px;
    background: url("../img/fundo-home.jpg") no-repeat center;
    background-size: cover;
}

.containerIndex p{
    font-size: 18px;
    color: white;
    text-align:center;
    width: 550px
}

/*CSS Exercicios*/

.topoPadraoPags{
    text-align:center;
    padding: 50px 0;
}

h1 {
    margin-bottom: 30px;
    font-family: poppins-bold;
    text-align: center;
}

.btn-info {
    border: none;
    background-color: #e6b400;
}

.btn-danger {
    border: none;
}

.btn-primary {
    border:none;
    background-color: #198754;
}