@page
@model shape_appweb.Pages.DeleteExercicioModel
@{
	var id = Request.Query["id"];
}
<div class="topoPadraoPags">
<h1>Remover Exercício</h1>
</div>
<div class="container mb-3">
	<form id="exercicio-form" onsubmit="event.preventDefault(); deleteExercicio()">
		<input type="hidden" id="exercicio-id">
		<div class="mb-3">
			<label for="nome" class="form-label">Nome</label>
			<input type="text" class="form-control" id="nome" name="nome">
		</div>
		<div class="mb-3">
			<label for="series" class="form-label">Series</label>
			<input type="number" class="form-control" id="series" name="series">
		</div>
		<div class="mb-3">
			<label for="repeticoes" class="form-label">Repetições</label>
			<input type="number" class="form-control" id="repeticoes" name="repeticoes">
		</div>
		<button type="submit" class="btn btn-danger">Remover</button>
	</form>
</div>

<script>
	async function buscarExercicios() {
		var id = '@id';

		console.log(id);

		response = await fetch(`https://shapeappapi.azurewebsites.net/api/Exercicios/${id}`);
		exercicio = await response.json();

		console.log(exercicio);

		document.getElementById('exercicio-id').value = exercicio.id;
		document.getElementById('nome').value = exercicio.nome;
		document.getElementById('series').value = exercicio.series;
		document.getElementById('repeticoes').value = exercicio.repeticoes;
	}

	window.onload = buscarExercicios;

	async function deleteExercicio() {
		var id = '@id';

		console.log(id);

		const response = await fetch(`https://shapeappapi.azurewebsites.net/api/Exercicios/${id}`, {
			method: 'DELETE'
		});
		if (response.ok) {
			window.location.href = '/Exercicios';
		}
	}
</script>