@page
@model shape_appweb.Pages.DeleteTreinoModel
@{
	var id = Request.Query["id"];
}
<div class="topoPadraoPags">
<h1>Remover Treino</h1>
</div>
<div class="container mb-3">
	<form id="treino-form" onsubmit="event.preventDefault(); deleteTreino()">
		<input type="hidden" id="treino-id">
		<div class="mb-3">
			<label for="nome" class="form-label">Nome</label>
			<input type="text" class="form-control" id="nome" name="nome">
		</div>
		<div class="mb-3">
			<label for="data" class="form-label">Data</label>
			<input type="date" class="form-control" id="data" name="data">
		</div>

		<button type="submit" class="btn btn-danger">Remover</button>
	</form>
</div>

<script>
	async function buscarTreinos() {
		var id = '@id';

		console.log(id);

		response = await fetch(`https://localhost:7219/api/Treinos/${id}`);
		treino = await response.json();

		console.log(treino);

		document.getElementById('treino-id').value = treino.id;
		document.getElementById('nome').value = treino.nome;
		document.getElementById('data').value = new Date(treino.data).toISOString().split('T')[0];
		
	}

	window.onload = buscarTreinos;

	async function deleteTreino() {
		var id = '@id';

		console.log(id);

		const response = await fetch(`https://localhost:7219/api/Treinos/${id}`, {
			method: 'DELETE'
		});
		if (response.ok) {
			window.location.href = '/Treinos';
		}
	}
</script>
