@page
@model shape_appweb.Pages.EditTreinoModel
@{
	var id = Request.Query["id"];
}


<hi>Editar Treino</hi>
<div class="container mb-3">
	<form id="exercicio-form" onsubmit="event.preventDefault(); saveTreino()">
		<input type="hidden" id="treino-id">
		<div class="mb-3">
			<label for="nome" class="form-label">Nome</label>
			<input type="text" class="form-control" id="nome" name="nome">
		</div>
		<div class="mb-3">
			<label for="data" class="form-label">Data</label>
			<input type="number" class="form-control" id="data" name="data">
		</div>
	
		<button type="submit" class="btn btn-primary">Editar</button>
	</form>
</div>

<script>
	async function buscarTreinos() {
		var id = '@id';

		console.log(id);

		response = await fetch(`https://localhost:7219/api/Treinos/${id}`);
		exercicio = await response.json();

		console.log(exercicio);

		document.getElementById('treino-id').value = treino.id;
		document.getElementById('nome').value = treino.nome;
		document.getElementById('data').value = treino.data;
		
	}

	window.onload = buscarExercicios;


	async function saveTreino() {
		var id = '@id';

		console.log(id);

		const treino = {
			id: id,
			nome: document.getElementById('nome').value,
			series: document.getElementById('data').value,
			
		};

		const response = await fetch(`https://localhost:7219/api/Treinos/${id}`, {
			method: 'PUT',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(treino)
		});

		if (response.ok) {
			window.location.href = '/Treinos';
		}
	}
</script>
