@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="containerIndex">

    <img id="logoIndex" width="300px" src="~/img/logo-shapeapp.png"/>
    <p class="textoIndex">O ShapeApp é uma aplicação Web que vai facilitar seu dia a dia na academia. Cadastre exercícios e depois os associe a treinos específicos para manter sua rotina de treinos organizada e otimizada!</a>.</p>

</div>