@page
@model shape_appweb.Pages.TreinosModel
<div class="topoPadraoPags">
	<h1>Meus Treinos</h1>
	<button class="btn btn-success" onclick="window.location.href = '/CreateTreino'">Adicionar Treino</button>
</div>

<table class="table container">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">Nome</th>
			<th scope="col">Data</th>
			<th scope="col"></th>
			<th scope="col"></th>
			<th scope="col"></th>

		</tr>
	</thead>
	<tbody id="treinos">
	</tbody>
</table>


<script>
	async function buscarTreinos() {
		const response = await fetch('https://shapeappapi.azurewebsites.net/api/Treinos');
		const data = await response.json();
		console.log(data);

		parent = document.getElementById('treinos');

		for (let i = 0; i < data.length; i++) {
			const treino = data[i];
			const li = document.createElement('tr');

			treinoData = new Date(treino.data).toISOString().split('T')[0];

			li.innerHTML = `
					<td>${treino.id}</td>
					<td>${treino.nome}</td>
						<td>${treinoData}</td>
						<td><button class="btn btn-primary" onclick="window.location.href = '/TreinoExercicios?id=${treino.id}'">Ver Exercícios</button></td>
					<td><button class="btn btn-info" onclick="window.location.href = '/EditTreino?id=${treino.id}'">Editar</button></td>
					<td><button class="btn btn-danger" onclick="window.location.href = '/DeleteTreino?id=${treino.id}'">Apagar</button></td>
				`;

			parent.appendChild(li);
		}
	}

	window.onload = buscarTreinos;
</script>

